<div class="container">
    <div class="row" style="width: 100%;"> 
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center" style="padding: 20px;">
                <h3>Cambiar contraseña</h3>
                <br>
                <form [formGroup]="cambiarPassword" (ngSubmit)=doChange()> 
                    <div class="form-group" style="text-align: start;">
                        <input type="password" class="form-control" placeholder="Contraseña actual" formControlName="passwordAnterior">
                        <span class="text-danger ml-2"
                        *ngIf="cambiarPassword.get('passwordAnterior').hasError('required') && cambiarPassword.get('passwordAnterior').touched">
                            El password anterior es requerido
                        </span>
                    </div>
                    <div class="form-group" style="text-align: start;">
                        <input type="password" class="form-control" placeholder="Nueva contraseña" formControlName="passwordNuevo">
                        <span class="text-danger ml-2"
                        *ngIf="cambiarPassword.get('passwordNuevo').hasError('required') && cambiarPassword.get('passwordNuevo').touched">
                            El nuevo password es requerido
                        </span>
                        <span class="text-danger ml-2"
                        *ngIf="cambiarPassword.get('passwordNuevo').hasError('minlength') && cambiarPassword.get('passwordNuevo').touched">
                            El password debe tener al menos 4 caracteres
                        </span>
                    </div>
                    <div class="form-group" style="text-align: start;">
                        <input type="password" class="form-control" placeholder="Repetir nueva contraseña" formControlName="repeatPassword">
                        <span class="text-danger ml-2"
                        *ngIf="cambiarPassword.hasError('notSame')">
                            El password no coincide
                        </span>
                    </div>
                    <div class="form-group" >
                        <button class="btn btn-primary mr-2 btn-login" type="submit" [disabled]="cambiarPassword.invalid">Aceptar</button>
                        <button class="btn btn-secondary" routerLink="../">Volver</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>